<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meakalia Gilman's portfolio</title>

    {{!-- <link rel="shortcut icon" href="/assets/img/favicon.png"/> --}}
    <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
    <div class="page-wrapper">
        <svg class="bg-svg" viewBox="0 0 1440 1024" preserveAspectRatio="xMidYMid slice" fill="none" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <clipPath id="clip-canvas">
      <rect width="1440" height="1024"/>
    </clipPath>
    <clipPath id="clip-about-panel">
      <path d="M495.706 386.301C470.204 367.866 438.872 357 405 357C399.94 357 394.936 357.245 390 357.719V0.0683594H1430L495.706 386.301Z"/>
    </clipPath>
    <clipPath id="clip-work-panel">
      <path d="M1440 1014L507.27 628.471C539.595 600.064 560 558.416 560 512C560 464.423 538.563 421.855 504.823 393.422L1440 10V1014Z"/>
    </clipPath>
    <clipPath id="clip-contact-panel">
      <path d="M1430.48 1024H390.483V666.326C395.263 666.77 400.105 667 405 667C438.923 667 470.3 656.1 495.822 637.614L1430.48 1024Z"/>
    </clipPath>
  </defs>

  <g clip-path="url(#clip-canvas)">
    {{!-- Background --}}
    <rect width="1440" height="1024" fill="#790B0B"/>

    {{!-- About Panel --}}
    <path d="M495.706 386.301C470.204 367.866 438.872 357 405 357C399.94 357 394.936 357.245 390 357.719V0.0683594H1430L495.706 386.301Z" fill="#FFE5E4" preserveAspectRatio="xMidYMid slice"/>
    <image
      href="/assets/media/text/about-text.png"
      x="350" y="-10"
      width="600" height="250"
      preserveAspectRatio="xMidYMid meet"
      clip-path="url(#clip-about-panel)"
      preserveAspectRatio="xMidYMid slice"
    />

    {{!-- Work Panel --}}
    <path d="M1440 1014L507.27 628.471C539.595 600.064 560 558.416 560 512C560 464.423 538.563 421.855 504.823 393.422L1440 10V1014Z" fill="#FFE5E4"/>
    <image
      href="/assets/media/text/work-text.png"
      x="450" y="315"
      width="800" height="350"
      preserveAspectRatio="xMidYMid meet"
      clip-path="url(#clip-work-panel)"
    />

    {{!-- Contact Panel --}}
    <path d="M1430.48 1024H390.483V666.326C395.263 666.77 400.105 667 405 667C438.923 667 470.3 656.1 495.822 637.614L1430.48 1024Z" fill="#FFE5E4"/>
    <image
      href="/assets/media/text/contact-text.png"
      x="350" y="750"
      width="700" height="275"
      preserveAspectRatio="xMidYMid meet"
      clip-path="url(#clip-contact-panel)"
    />

    {{!-- Nav Panel --}}
    <path d="M379.5 359.008C305.783 370.962 249.5 434.907 249.5 512C249.5 589.093 305.783 653.037 379.5 664.991V1024H-0.5V0H379.5V359.008Z" fill="#FFE5E4"/>
    
    {{!-- Logo Circle --}}
    <circle cx="405" cy="512" r="138" fill="#550101"/>

  </g>
</svg>

    </div>
</body>
</html>