.page-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.bg-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    -webkit-font-smoothing: auto;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-tap-highlight-color: transparent;
    background: url("../hosted/media/waterBackground.mp4") no-repeat fixed center;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

video#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background-size: cover;
}

.loader {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.loader .dot {
    width: 10px;
    height: 10px;
    background-color: rgba(213, 248, 248, 0.874);
    border-radius: 50%;
    animation: bounce 0.5s infinite alternate;
}

.loader .dot:nth-child(2) {
    animation-delay: 100ms;
}

.loader .dot:nth-child(3) {
    animation-delay: 200ms;
}


/* defined animation */
@keyframes bounce {
    100% {
        translate: 0 -10px;
    }
}